{% extends 'base.html' %}
{% block content %}

<style>
body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #1e40af;
}

.section-title {
    margin-top: 20px;
    font-weight: bold;
    color: #1e40af;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #1e40af;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background: #1e3a8a;
}
</style>

<div class="container">
    <div class="card">
        <h2>Resume Builder</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="section-title">Role</div>
            <input type="text" name="role" placeholder="Software Engineer / Data Analyst">

            <div class="section-title">Basic Info</div>
            {{ form.full_name }}
            {{ form.email }}
            {{ form.phone }}
            {{ form.location }}

            <div class="section-title">Links</div>
            {{ form.linkedin }}
            {{ form.github }}

            <div class="section-title">Summary</div>
            {{ form.summary }}

            <div class="section-title">Skills</div>
            {{ form.programming_languages }}
            {{ form.web_technologies }}
            {{ form.frameworks_tools }}
            {{ form.database }}

            <div class="section-title">Education</div>
            {{ form.college }}
            {{ form.course }}
            {{ form.cgpa }}
            {{ form.year }}

            <div class="section-title">Projects</div>
            {{ form.projects }}

            <div class="section-title">Experience</div>
            {{ form.experience }}

            <div class="section-title">Certifications</div>
            {{ form.certifications }}

            <div class="section-title">Achievements</div>
            {{ form.achievements }}

            <button type="submit">Download PDF</button>
        </form>
    </div>
</div>

{% endblock %}